@inherits LayoutComponentBase
@inject IConfiguration Configuration

<div class="row sticky-top bg-dark border-bottom border-danger">
	<div class="col text-danger text-center">
		<h1><strong>@Configuration["HeaderText"]</strong></h1>
	</div>
</div>
@Body