@inject IConfiguration Configuration
@inject ILanguageProvider LanguageProvider 

<div class="container bg-dark border-top border-danger">
	<div class="row pt-2 pb-2 gx-2">
		<div class="col">
			&nbsp;
		</div>
		<div class="col-md-auto">
			<button type="button" class="btn btn-light" @onclick="ReportProceedClick">@(ButtonLabel ?? LanguageProvider.GetConfigurationValue(Constants.ProceedButtonLabel))</button>
		</div>
		<div class="col">
			&nbsp;
		</div>
	</div>
</div>


@code {
	[Parameter]
	public EventCallback OnProceedClicked { get; set; }

	[Parameter]
	public string ButtonLabel { get; set; } = null;

	protected async Task ReportProceedClick(MouseEventArgs e)
		=> await OnProceedClicked.InvokeAsync();
}
